
//colori su bianco:
$color_blue_onwhite: #006080;
$color_green_onwhite: #205e3b;
$color_red_onwhite: #870c25;
$color_orange_onwhite: #aa2e00;
$color_brown_onwhite: #555344;


//colori su scuro:
$color_blue_onblack: #00a7e0;
$color_green_onblack: #43c678;
$color_red_onblack: #f3143e;
$color_orange_onblack: #f35002;
$color_brown_onblack: #c2bf9c;
