[submodule "languages"]
	path = languages
	url = https://github.com/CIMAFoundation/portal-languages.git
	branch = dev-PSR
[submodule "framework"]
	path = framework
	url = https://github.com/CIMAFoundation/portal-framework.git
	branch = dev-PSR
[submodule ".\\apps\\live2"]
	path = .\\apps\\live2
	url = https://github.com/CIMAFoundation/portal-live2.git
	branch = live-PSR
[submodule "apps/kumale"]
	path = apps/kumale
	url = https://github.com/CIMAFoundation/portal-kumale.git
	branch = kumale-PSR
