<div class="user d-flex" ng-if="amIAuthenticated()" type="button" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
    <div class="text-data mr-2">
        <div>{{acSession.user.name}}</div>
        <div class="mt-1">
            <a  class="logout" href="javascript:" ng-click="logout()" target="_top">
                <span class="fas fa-sign-out-alt"></span>
                <span ><strong> {{ 'LBLLOGOUT' | translate}}</strong></span>
            </a>
        </div><!--({{acSession.hat.descr}})-->
    </div>
    <div class="user-pic" ng-style="{'background-image': 'url(' + acSession.user.avatar + ')'}">
    </div>
</div>


<!-- Auth - not loggedIn -->

<div class="auth outside navbar-collapse" ng-if="!amIAuthenticated()">
    <div class="d-flex" >
        <input class="form-control" type="text" required  type="text" ng-model="authData.user" placeholder="{{ 'NAME' | translate}}" autocomplete="off">

        <input class="form-control"  type="password" required ng-model="authData.pass" ng-keyup="$event.keyCode == 13 ? login() : null" placeholder="{{ 'PSW' | translate}}" autocomplete="off">

        <button class="btn btn-primary login" href=""  ng-click="login()" data-hint="Login">
            <i class="fa fa-sign-in fa-2x visible-xs visible-sm" title="{{ 'LBLACCEDI' | translate}}"></i>
            <span class="hidden-xs hidden-sm"> {{ 'LBLACCEDI' | translate}}</span>
        </button>
        <button class="btn btn-warning" data-toggle="dropdown" ng-show="bGuestShow" ng-click="closeIntro()" data-hint="Guest">

            <i class="fa fa-eye fa-2x visible-xs visible-sm" title="{{ 'LBLGUEST' | translate}}"></i>
            <span > {{ 'LBLGUEST' | translate}}</span>

        </button>

    </div>
</div>



<!-- dropdown -->
<div class="auth dropdown-menu" ng-show="amIAuthenticated()">
    <a  class="dropdown-item"  ng-repeat="hat in acSession.user.hats" href="javascript:void(0)" ng-click="setHat(hat)" target="_top" >
        <span> {{hat.descr}}</span>
    </a>
</div>
<!-- Basic dropdown -->



