
<!-- Logged IN -->
    <div class="auth inside dropdown-toggle flex-container " ng-if="amIAuthenticated()" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="flex-item flex-container col ">
            <div class="flex-item flex-container ">
                <span class="flex-item {{'LANG' | translate}}"></span>
                <span class="flex-item animated slideInRight delay-003">
                    {{acSession.user.name}}
                </span>
            </div>
            <span class="flex-item small hat_description animated bounceIn" ng-if="acSession.hat.descr">
            ({{acSession.hat.descr}})
            </span>
        </div>
        <img class="flex-item animated fadeInDown delay-004" ng-src="{{acSession.user.avatar}}" alt="{{acSession.user.name}}" />
    </div>

    <!--submenu-->
    <div class="dropdown-menu animated fadeInLeft" ng-if="amIAuthenticated()" aria-labelledby="dropdownMenuButton">
        <div class="flex-item flex-container center aclanguagenew "></div>

        <div class="flex-item divider"></div>

<!--        <input type="text" class="form-control m-5" placeholder="Hat Search" />-->



        <div class="flex-item flex-container col start user_list">
            <input class="form-control m-5" type="text" placeholder="Hat Search" ng-model="filters.acSession.user.hats">
            <a ng-repeat="hat in ::acSession.user.hats | orderBy: 'descr'" class="text-white flex-item  animated fadeIn delay-002" href="" ng-click="setHat(hat)"  >
                {{hat.descr}}
            </a>
        </div>


        <div class="flex-item divider"></div>

        <button class="flex-item flex-container end btn btn-primary animated fadeInDown delay-004" ng-click="logout()" target="_top">
            <span class="flex-item"><i class="fa fa-sign-out"></i></span>
            <span class="flex-item"> {{ 'LBLLOGOUT' | translate}}</span>
        </button>

    </div>



<!-- Auth - not loggedIn -->
<div ng-if="!amIAuthenticated()">

    <div class="auth outside navbar-collapse flex-container" ng-if="!amIAuthenticated()">
        <input class="form-control flex-item slideInUp delay-001" type="text" required  type="text" ng-model="authData.user" placeholder="{{ 'NAME' | translate}}" autocomplete="off">

        <input class="form-control flex-item slideInUp delay-002"  type="password" required ng-model="authData.pass" ng-keyup="$event.keyCode == 13 ? login() : null" placeholder="{{ 'PSW' | translate}}" autocomplete="off">

        <button class="btn btn-primary login slideInUp delay-003" href=""  ng-click="login()" data-hint="Login">
            <i class="fa fa-sign-in fa-2x" title="{{ 'LBLACCEDI' | translate}}"></i>
            <span > {{ 'LBLACCEDI' | translate}}</span>
        </button>
        <button class="btn btn-warning  slideInUp delay-004" data-toggle="dropdown" ng-show="bGuestShow" ng-click="closeIntro()" data-hint="Guest">
                <i class="fa fa-eye fa-2x" title="{{ 'LBLGUEST' | translate}}"></i>
                <span > {{ 'LBLGUEST' | translate}}</span>
        </button>
    </div>



</div>
