
<footer class="footer {{currentOs.phase.idfase}} d-flex justify-content-between align-items-center">
    <div ng-click="iconize = !iconize" >
<!--        ng-if="isfireApp"-->
        <button class="btn btn-info btn--kredit" type="button">
            <i class="fas fa-info-circle"></i>
        </button>
        <div class="block block--kredit" ng-if="iconize" ng-style="(!iconize)?{}:{}" >
            <img src="img/psr.jpg" alt="">
        </div>
    </div>
    <ac-date></ac-date>
    <img class="mx-2" src="img/acrotec_png.png" alt="">
    <img class="mx-2" src="img/cima_png.png" alt="">
    <!--<div class="flex-item m-l-20 block">
    </div>-->

    <os-view-form></os-view-form>
</footer>
