
<footer class="footer {{currentOs.phase.idfase}} d-flex justify-content-around align-items-center">
<!--    <div ng-click="iconize = !iconize" >-->
<!--        ng-if="isfireApp"-->
        <button class="btn btn-info btn-light btn--kredit"
                type="button"
                data-toggle="modal"
                data-target="#prjModal">
            <i class="fas fa-info-circle"></i>
        </button>
        <div ng-include="'views/prj.html'" ></div>
<!--    ng-if="iconize" ng-style="(!iconize)?{}:{}"-->
    </div>
    <ac-date class="w-100 text-center" ng-show="acSession.authenticated"></ac-date>
    <div class="media flex-shrink-1 ml-auto">
        <img class="mx-2 align-self-center img-thumbnail w-25" src="img/acrotec_png.png" alt="">
        <img class="mx-2 align-self-center img-thumbnail w-25" src="img/cima_png.png" alt="">
        <!--<div class="flex-item m-l-20 block">
        </div>-->
    </div>

    <os-view-form></os-view-form>
</footer>


<!--MODALE PRJ-->
<!--
<div class="modal fade" id="prjModal" tabindex="-1" role="dialog" aria-labelledby="prjModal" aria-hidden="true"  >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Accedi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="site__section&#45;&#45;login authpsr pb-3"></div>
            </div>
        </div>
    </div>
</div>
-->
