    <!-- begin error -->
    <div class="error" ng-show="!acSession.authenticated">
        <div class="error-code m-b-2 ">
            <div class="flex-container ">
                <img src="{{ 'LOGO' | translate}}" alt="" class="flex-item" />
                <!--<span id="MD_slug" class="flex-item">
                    {{ 'LOGO' | translate}}
                </span>-->
            </div>
        </div>
        <div class="error-content">
            <div class="error-message">Session timeout</div>
            <div class="error-desc m-b-20">
                L'applicazione non può essere caricata<br />
                <i class="fa fa-deviantart fa-rotate-90 fa-4x"></i>
                <h2>Effettua la login</h2>
            </div>
           <!-- <div>
                <a href="/client/apps/allertaliguria/index.html#?skin=4#" class="btn btn-primary">Torna alla dashboard</a>
            </div>-->
        </div>
    </div>
    <!-- end error -->
